.freq-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}

.title-div {
  max-width: 376px;
}

.freq-title {
  font-weight: 700;
  font-size: 48px;
}

sub {
  color: #4d4d4d;
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 1180px) {
  .freq-title {
    text-align: center;
  }

  .title-div {
    min-width: 90%;
  }

  .sub {
    text-align: center;
  }
}

@media screen and (max-width: 376px) {
  .freq-title {
    text-align: center;
    font-size: 26px;
  }
}
