.inst-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 14px;
  position: relative;
  justify-content: center;
  top: -150px;
}

.inst-title-div {
  width: 207px;
  text-align: left;
}

.inst-title {
  font-weight: 800;
  font-size: 32px;
}

.arrow-img {
  align-self: self-start;
  margin-right: 20px;
  margin-left: -10px;
}

@media screen and (max-width: 650px) {
  .inst-container {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .arrow-img {
    display: none;
  }
}
